body{
	background-image: url('../img/stupa_borobudur.jpg');
	background-size: cover;
}

div{
	width: 700px;
	height: 300px;
	border: 2px solid black;
	margin: 0;
	color: blue;
	background-image: url('../img/avocado.jpg');
	background-repeat: repeat-y;
	background-color: white;
	overflow: scroll;
}

.satu{
	color: blue;
	text-align: center;
	font-weight: bold;
}

.dua{
	color: green;
	font-weight: bold;
}

.tiga{
	color: red;
	font-weight: bold;
}